@import "variables";

.markdown-description {
  padding: 10px 30px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color3;
  color: #fff;
  padding: 10px 20px;

  h1 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  a {
    color: inherit;
  }
}
