@import "variables";

.skills-transition-enter {
  max-height: 0;

  &.skills-transition-enter-active {
    max-height: 50px;
    transition: max-height 500ms ease-in;
  }
}

.skills-list {
  li {
    overflow: hidden;
  }
}

.user-skill-list {
  padding: 0 30px;
  list-style-type: none;
}

.user-skill-item {
  display: flex;
  flex-direction: column;
  border: 1px solid $color5;

  &.expanded {
    .skill-stub-body {
      height: 400px;
      overflow: scroll;
    }
  }

  .skill-stub-body {
    transition: 500ms ease-in-out;
    height: 0;
    overflow: hidden;
  }
}

.skill-stat {
  display: flex;
  align-items: center;
}

.user-skill-header {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  background-color: $color5;
  color: #fff;
  padding: 15px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.user-skill-description-input {
  width: calc(100% - 40px);
  height: calc(80% - 40px);
  margin: 20px;
}

.skilled-users-list {
  list-style-type: none;
}
